@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.button--standard {
    opacity: 0.7;
    transition: 1s;
    padding: 7px 20px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    
    color: white;
    font-family: "maven pro", sans serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 900;
}
.button--standard:hover, .button--standard:active {
    background-color: white;
    color: black;
    cursor: pointer;
}


/************
    HEADER
 ************/

.header {
    position: fixed;
    width: 100%;
    background-color: #85858599;
    box-shadow: 0 3px 5px #85858599;
    min-height: 60px;
    
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
}

.header__img {
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.header__nav ul {
    list-style: none;
    padding-left: 0;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.header__link {
    padding: 15px 20px;
    margin-left: -1px;
    color: black;
    border-left: 1px solid rgba(100, 73, 36);
    border-right: 1px solid rgba(100, 73, 36);
    transition: 1s;
    font-family: "maven pro", sans serif;
    text-decoration: none;
    font-weight: 600;
}

.header__link:hover, .header__link:active {
    color: white;
    background: linear-gradient(
        rgba(100, 73, 36, 0) 60%, 
        rgba(100, 73, 36) 100%);
}

.header__toggle-icon, .header__toggle-checkbox {
    display: none;
}

.header__contact {
    margin-top: auto;
    margin-bottom: auto;
}


/**********
    MAIN 
 **********/

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* hero section */

.hero {
    grid-row: 1;
    grid-column: 1 / span 6;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgb(100, 73, 36);
    background-image: url("assets/photos/09-night.jpg");
    background-position: top center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__img {
    max-width: 300px;
}

.hero__arrow {
    width: 50px;
    filter: invert(100%);
}

main div {
    grid-column: 2 / span 4;
}


/************
    FOOTER 
 ************/
 
footer {
    background-color: rgb(177, 132, 91);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
footer img {
    max-height: 70px;
    margin: 10px 40px;
}



/* MEDIAQUERY */
@media screen and (max-width: 800px) {
    .header__contact {
        opacity: 1;
        position: fixed;
        animation: floatdown 2s ease-in-out 1 forwards; 
        z-index: 5;
    }

    @keyframes floatdown {
        0% {
            top: 10px;
            right: 10px;
        }
        100% {
            top: 92vh;
            right: 15px;
        }
    }
}

@media screen and (max-width: 650px) {
    .header__nav {
        position: absolute;
        top: -500px;
        transition: 1s;
        width: 100%;
        padding: 20px 50px;
    }

    .header__nav ul {
        flex-direction: column;
        border-left: 1px solid rgba(100, 73, 36);
    }

    .header__link {
        border-right: none;
        transition: 1s;
        display: block;
        width: 50%;
    }
    .header__link:hover {
        border-left-width: 10px;
        background: #00000000;
    }

    .header__toggle-icon {
        display: block;
        font-size: 50px;
        padding: 0 20px;
    }

    .header__toggle-checkbox:checked ~ .header__nav {
        z-index: -1;
        top: 0px;
        padding-top: 100px;
        background-color: #85858599;
        box-shadow: 0 3px 5px #85858599;
      }
}

