* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


/************
    HEADER
 ************/

.header {
    position: fixed;
    width: 100%;
    background-color: #85858599;
    box-shadow: 0 3px 5px #85858599;
    min-height: 60px;
    
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
}

.header__img {
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.header__nav ul {
    list-style: none;
    padding-left: 0;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.header__link {
    padding: 15px 20px;
    margin-left: -1px;
    color: black;
    border-left: 1px solid rgba(100, 73, 36);
    border-right: 1px solid rgba(100, 73, 36);
}

.header__contact {
    padding: 15px 30px;
    margin-left: -1px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}


/**********
    MAIN 
 **********/

/* hero section */

.hero {
    height: 100vh;
    width: 100%;
    color: wheat;
    background-color: rgb(100, 73, 36);
    background-image: url("assets/photos/09-night.jpg");
    background-position: top center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: rgba(206, 189, 166, 0.774);
    border:0;
    border-radius: 10px;
}