@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

:root {
    --button-dark: #000000;
    --button-light: #ffffff;
    --contrast-color: #54eabd;
    --dark-color: #77626e;
    --light-color: #D8DDE6;
}

h1, h2 {
    font-family: "maven pro", sans serif;
}

.button {
    opacity: 0.7;
    transition: 1s;
    padding: 7px 20px;
    border: 3px solid var(--button-dark);
    border-radius: 30px;
    background-color: var(--button-dark);
    
    color: var(--button-light);
    font-family: "maven pro", sans serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 900;
}
.button:hover, .button:active {
    background-color: var(--button-light);
    color: var(--button-dark);
    cursor: pointer;
}


/********************
    HEADER SECTION
 ********************/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dark-color);
    box-shadow: 0 3px 5px var(--dark-color);
    min-height: 60px;
    z-index: 1; /* for button--header (line ~ 115) so it appears over all other elements */
    
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
}

.header__img {
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.header__nav ul {
    list-style: none;
    padding-left: 0;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.header__link {
    padding: 15px 20px;
    margin-left: -1px;
    color: var(--button-light);
    border-left: 1px solid var(--contrast-color);
    border-right: 1px solid var(--contrast-color);
    transition: 1s;
    font-family: "maven pro", sans serif;
    text-decoration: none;
    font-weight: 600;
}

.header__link:hover, .header__link:active {
    color: var(--button-dark);
}

.header__toggle-icon, .header__toggle-checkbox {
    display: none;
}

/* to give it the right height */
.button--header {
    margin-top: auto;
    margin-bottom: auto;
}


/******************
    MAIN SECTION 
 ******************/

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.main--booking {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    margin-bottom: 200px;
}


/* -------- MAIN @ INDEX.HTML -------- */

/* hero section */

.hero {
    grid-row: 1;
    grid-column: 1 / span 6;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: var(--light-color);
    background-image: url("assets/photos/09-night.jpg");
    background-position: top center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__img {
    max-width: 300px;
}

.hero__arrow {
    width: 50px;
    filter: invert(100%);
}

main div {
    grid-column: 2 / span 4;
    background-color: white;
}


/* -------- MAIN @ BOOKING.HTML -------- */

/* Booking section */

.booking {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;

    height: 1000px;
    padding: 20px;
    padding-right: 20%;
    background-color: white;
    border: 1px solid var(--dark-color);
}

.booking__breadcrumb {
    text-align: right;
    margin: 0;
    font-style: italic;
}
.breadcrumb--active {
    font-weight: bold;
    color: black;
}

/* form start */
.booking__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "checkin checkout"
    "guests guests"
    "adult child"
    "room room";
}
.booking__form > * {
    margin-bottom: 20px;
}

.booking__checkin {
    grid-area: checkin;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__checkout {
    grid-area: checkout;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__guests {
    grid-area: guests;

    margin: 0;
}

.booking__adultguests {
    grid-area: adult;
}

.booking__childguests {
    grid-area: child;
}

.booking__adultguests input, .booking__childguests input {
    width: 40%;
}
/* form end */

.booking__room {
    grid-area: room;
}


/* Roomwrapper section */

.roomwrapper {
    grid-row: 3;
    grid-column: 1 / span 4;

    height: 500px;
    border: 1px solid blue;
}


/* Summary section */

.summary {
    grid-row: 1;
    grid-column: 5 / span 2;
    position: sticky;
    top: 150px;

    min-width: 300px;
    width: 120%;
    margin-left: -20%;
    border: 5px double var(--dark-color);
    padding: 15px 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary__logo {
    height: 80px;
    width: 80px;
    margin-top: -60px;
}

.summary__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.summary__wrapper > * {
    width: fit-content;
    border-left: 1px solid var(--dark-color);
    padding-left: 7px;
}

.summary__nights {
    text-align: center;
}

.summary__guests {
    width: 100%;
    border-left: 1px solid var(--dark-color);
    padding-left: 7px;
}

.summary__action {
    text-align: center;
    width: 100%;
}

.summary__price {
    text-align: right;
    width: 100%;
}

.button--booking {
    opacity: 0.9;
    background-color: var(--button-light);
    color: var(--button-dark);
    border-radius: 0px;
    border-width: 1px;
    padding-left: 30%;
    padding-right: 30%;
}
.button--booking:hover, button--booking:active {
    background-color: var(--dark-color);
}



/************
    FOOTER 
 ************/
 
footer {
    background-color: var(--light-color);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
footer img {
    max-height: 70px;
    margin: 10px 40px;
}



/* ---------- IN BETWEEN VIEW ---------- */

@media screen and (max-width: 800px) {
    
    .booking__form {
        grid-template-areas: 
        "checkin checkin"
        "checkout checkout"
        "guests guests"
        "adult adult"
        "child child"
        "room room";
    }

    .button--header {
        opacity: 1;
        position: fixed;
        animation: floatdown 2s ease-in-out 1 forwards; 
    }

    @keyframes floatdown {
        0% {
            top: 10px;
            right: 10px;
        }
        100% {
            top: 92vh;
            right: 15px;
        }
    }
}


/* ---------- MOBILE VIEW ---------- */

@media screen and (max-width: 650px) {

    /* global */

    .header__nav {
        position: absolute;
        top: -500px;
        transition: 1s;
        width: 100%;
        padding: 20px 50px;
    }

    .header__nav ul {
        flex-direction: column;
        border-left: 1px solid var(--dark-color);
    }

    .header__link {
        border-right: none;
        transition: 1s;
        display: block;
        width: 50%;
    }
    .header__link:hover {
        border-left-width: 10px;
        background: var(--button-dark);
    }

    .header__toggle-icon {
        display: block;
        font-size: 50px;
        padding: 0 20px;
    }

    .header__toggle-checkbox:checked ~ .header__nav {
        z-index: -1;
        top: 0px;
        padding-top: 100px;
        background-color: var(--dark-color);
        box-shadow: 0 3px 5px var(--dark-color);
    }


    /* main @ booking.html */

    .booking {
        grid-row: 1;
        grid-column: 1 / span 6;
        height: 1000px;
        padding: 20px;
    }

    .booking__form {
        grid-template-areas: 
        "checkin checkout"
        "guests guests"
        "adult child"
        "room room";
    }


    .roomwrapper {
        grid-row: 2;
        grid-column: 1 / span 6;
    }    


    .summary {
        grid-row: 3;
        grid-column: 1 / span 6;
        position:relative;
        top:0;
    
        min-width: 300px;
        width: 100%;
        margin-left: 0;
        margin-top: 150px;
    }    
}

